@import "../../assets/color";
.title {
  color: $gray88;
}

.income {
  color: $successful;
}

.expense {
  color: $warning;
}

.mat-column-type, .mat-column-unit {
  width: 12%;
}

.mat-column-amount, .mat-column-cost, .mat-column-date, .mat-column-product {
  width: 15%;
}

.mat-header-cell {
  &:last-child {
    padding-left: 24px;
  }
}
