.title {
  color: #888888;
}

.income {
  color: green;
}

.expense {
  color: red;
}

.mat-column-type {
  width: 30%;
}

.mat-column-amount {
  width: 20%;
}
.mat-column-date {
  width: 20%;
}

.mat-header-cell {
  &:last-child {
    padding-left: 24px;
  }
}
