<div>
  <h2 mat-dialog-title>{{data.modalTitle}}</h2>

  <mat-dialog-content>
    <div fxLayout="row"
         fxLayoutAlign="space-between center">
      <mat-form-field class="w-100">
        <input matInput
               type="number"
               [ngModel]="data.item.amount | convertToHigherNominal"
               (input)="onConvertToPennies($event.target.value)"
               placeholder="Amount">
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-100 ml-2">
        <mat-select [(ngModel)]="data.item.type"
                    (selectionChange)="isEdit=false"
                    placeholder="Type">
          <mat-option *ngFor="let type of typeOption"
                      [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="w-50">
      <mat-select [(ngModel)]="data.item.product"
                  (selectionChange)="isEdit=false"
                  placeholder="Product">
        <mat-option *ngFor="let product of products"
                    [value]="product">
          {{product.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">CANCEL</button>
    <button mat-button
            [mat-dialog-close]="data.fund"
            [disabled] = "data.item.amount <= 0 || data.item.type === null || data.item.product === null || isEdit"
            (click)="changeFund()">SAVE</button>
  </div>
</div>
