<div>
  <h2 mat-dialog-title>{{data.modalTitle}}</h2>

  <mat-dialog-content>

    <form [formGroup]="itemForm" novalidate>

      <div fxLayout="row"
           fxLayoutAlign="space-between center">

        <mat-form-field class="w-100 ml-2">
          <mat-select formControlName="product"
                      placeholder="Product"
                      (selectionChange)="changeProduct($event)">
            <mat-option *ngFor="let product of products"
                        [value]="product.name">
              {{product.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 ml-2">
          <input matInput
                 type="number"
                 formControlName="cost"
                 onlyNumber="true"
                 placeholder="Cost"
                 [readonly]="!itemForm.value.product">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>

      </div>

      <div fxLayout="row"
           fxLayoutAlign="space-between center">

        <mat-form-field class="w-100 ml-2">
          <input matInput
                 type="number"
                 formControlName="amount"
                 onlyNumber="true"
                 placeholder="Amount"
                 [readonly]="!itemForm.value.product">
        </mat-form-field>

        <mat-form-field class="w-100 ml-2">
          <mat-select formControlName="unit"
                      name="unit"
                      placeholder="Unit">
            <mat-option *ngFor="let unit of units"
                        [value]="unit.name"
                        [disabled]="!itemForm.value.product">
              {{unit.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>

      <div fxLayout="row"
           fxLayoutAlign="space-between center">

        <mat-form-field class="w-100 ml-2">
          <mat-select formControlName="type"
                      placeholder="Type">
            <mat-option *ngFor="let type of typeOption"
                        [value]="type.value"
                        [disabled]="!itemForm.value.product">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 ml-2">
          <input matInput
                 formControlName="specification"
                 placeholder="Specification"
                 [readonly]="!itemForm.value.product"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of specifications"
                        [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>

      <mat-form-field class="w-100 ml-2">
          <textarea matInput placeholder="Comment"
                    formControlName="comment"
                    [readonly]="!itemForm.value.product"></textarea>
      </mat-form-field>

    </form>

  </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button
            (click)="onNoClick()">CANCEL</button>
    <button mat-button
            [disabled] = "itemForm.invalid || itemForm.pristine"
            [mat-dialog-close]="data.item"
            (click)="changeFund()">SAVE</button>
    <button mat-icon-button>
      <mat-icon aria-label="Add new product"
                (click)="addProduct()">add_shopping_cart</mat-icon>
    </button>
  </div>

</div>
